.piece {
  background-color: aqua;
}

.product-Desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productPrice {
  /* /background-color: aqua;
    /display: flex; */
  justify-content: space-between;
  gap: 10px;
}

.product-cart {
  padding: 20px;
  flex-direction: column;

  width: 50%;
  height: 90%;
  /* /background-color: aquamarine;
    /margin-top: 10px; */
}
.product-cart-top {
  margin-top: 10px;
  width: 100%;
  height: 240px;
}
