.category-container {
  background-color: blueviolet;
  width: 20%;
  height: 50%;
}

.small-container {
  background-color: burlywood;
  width: 20%;
  height: 50%;
}
.category-containeror {
  padding: 10px;
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 80%;
}
.product-cartt {
  width: 30%;
  height: 20%;
}




/* .product-Descc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .productPrice {
    
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .product-cartt {
height: 30%;
    margin-top: 10px;
   
  }
  .category-containeror{
    padding: 10px;
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 80%;
  } */